@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');



img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  vertical-align: middle !important;
  display: inline !important;

}



.icon {
  width: 45px;
  height: 60px;
}

@media (min-width: 768px) {
  .icon {
    width: 45px;
    height: 60px;
  }
}

@media (min-width: 992px) {
  .icon {
    width: 65px;
    height: 80px;
  }
}

@media (min-width: 1200px) {
  .icon {
    width: 85px;
    height: 100px;
  }
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: 'Prompt';
}

.content-nav {
  margin-left: 10%;
  margin-right: 40%;
  font-size: 20px;
  white-space: nowrap;
}

.swal2-popup {
  /* font-size: 1.6rem !important; */
  font-family: 'Prompt';
}

.nav-color {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 25px 25px;
  padding-bottom: 2%;

}

.test-logo {
  margin-left: 50%;
}

.logo {
  width: 6%;
  height: 6%;
}



.button-t {
  width: 150px;
  height: 55px;
  background-color: #FFE897;
  border-radius: 7px;
  color: #000000;
  font-weight: 400;
  display: flex;
  align-items: center;
  letter-spacing: -0.004em;
  border: none;
  display: block;
  font-size: 18px;
}

.button-t:hover {
  background-color: #e5cc73;
  color: #000000;
}

.button-t:focus {
  background-color: #e5cc73;
  color: #000000;
}

.nav-text {
  text-align: left;

}



.nav-text2 {
  margin-left: 10%;
  margin-right: 10%;
  color: #000000;

}

.icon-t {

  font-size: 20px;
}


/* ส่วน 4 เหลี่ยม */
.App-login-form {
  background: #F7F7F7;
  border-radius: 59px;
  height: 520px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 35rem;
  vertical-align: middle;
}


.form-switch .form-check-input {
  width: 38px;
  height: 20px;
}

.form-check-input:checked {
  background-color: #5fb867;
  border-color: #6e9e84;
}

/* ส่วน font */
.font-usr-pass {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-right: 63%;

  color: #000000;
}



/* ส่วน จัดกึ่งกลาง คำว่า เข้าสู่ระบบ */
.app-login {

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
}


/* ส่วน ตกแต่ง ปุ่มกดเข้าสู่ระบบ */
.submit-black-ground {
  background: #AFE6B4;
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 25%;
  border: none;
  color: #000000;
  margin-top: 10%;
  margin-left: 40%;

}

.submit-black-ground:hover {

  color: #000000;
  background-color: #76c57d;
  border: none;
}

.submit-black-ground:focus {
  color: #000000;
  background-color: #76c57d;
  border: none;
}

.submit-black-ground:disabled {
  color: #000000;
  background-color: #96c59a;

}

/* ส่วน จัดกึ่งกลาง ปุ่ม เข้าสู๋ระบบ*/
.submitcenter {

  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* ส่วน จัดกึ่งกลาง ช่องกรอกข้อมูล ผู้ใช้- รหัสผ่าน*/
.use-pass {
  background: #EBE9E9;
  border-radius: 9px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


/* ส่วน ตีเส้น ปุ่มลืมรหัสผ่าน*/
.draw-a-line {
  text-decoration: underline;
}

.tablecustom {
  background: #FAFAFA;
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.25);

}

.tablecustom header {
  justify-content: space-between;
}

.tablealign {
  text-align: center;
}

.editbutton {
  border-radius: 11px;
}

.correct {
  color: #5fb867;
  font-size: 20px;
}

.correct:hover {
  cursor: pointer;
}

.Wrong {
  color: #e63010;
  font-size: 20px;
}

.Wrong:hover {
  cursor: pointer;
}

.Checking {
  color: #e3c068;
  font-size: 20px;
}

.Checking:hover {
  cursor: pointer;
}

.navlink {
  text-decoration: none;
  top: 0;
  transition: top ease 0.1s;
  padding: 15px;
  position: relative;

}

.navlink:hover {
  cursor: pointer;
  top: -5px;
}

.profile-nav {
  text-decoration: none;
  top: 0;
  transition: top ease 0.1s;
  position: relative;
}

.profile-nav:hover {
  cursor: pointer;
  top: -5px;
}


.signout {
  margin-left: 100px;
}

/* ล่าสุดdddddddddddddddddddddddddddddddddddd */

.table_size {
  width: 70%;
}

.background_test {
  background: #000000;
}


.button_edit_table {
  border-radius: 9px;
}


.majin_top {
  margin-top: 15%;
}

.majin_status_top {
  margin-top: 2%;
}

.majin_statusbox_top {
  margin-top: 10%;
}


.majin_top_name {
  margin-top: 3%;
}

.status_box {
  width: 230px;
  height: 170px;
  background: #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
}


.icon_size {
  width: 200px;
  height: 150px;
}


.frame_status {
  width: 1000;
  height: 600px;
  left: 60px;
  top: 75px;
  background: #FAFAFA;
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.25);
}

.usernav {
  transition: 0.3s;
}

.usernav:hover {
  background-color: red;
  color: white;
}

.masterData {
  transition: 0.3s;
}

.masterData:hover {
  background-color: rgb(91, 134, 96);
  color: white;
}

.tableAction {
  font-size: 20px;
  color: #5fb867;
}

.tableAction:hover {
  cursor: pointer;
  color: #4d9252;
}


.modal {
  text-align: center;
  font-family: 'Prompt';
}

.modalLabel {
  font-weight: bold;
  color: rgb(44, 78, 41);
}

/* Drag and Drop */



.drag-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drag-drop-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  padding: 20px;
  width: 400px;
  height: 300px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.drag-drop-zone.active {
  border-color: #6c63ff;
}

.drag-drop-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.image-preview-container {
  margin-top: 1rem;
}

.image-preview {
  width: 200px;
  height: 200px;
}